# Byte-compiled / optimized / DLL files.
__pycache__/
*$py.class

# Unnecessary content
Dockerfile
.dockerignore
environment.yml
#docker_configuration
data
places_exploratory_data_analysis.ipynb
transactions_exploratory_data_analysis.ipynb